.btn {

    &-primary {
        margin: 20px 0;
        width: 100%;
        padding: 15px 0;
        background: black;
        color: white;
        border: none;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
        transition: 0.2s;

        &:active {
            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
        }
    }
}