@import "../globals.scss";
 
body {
    background-color: $magnetic-grey;
    overflow-x: hidden;
}


.register {
    display: grid;
    height: 90vh;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 42px;
        font-weight: $font-weight--black;
        color: $light-black;
        margin-bottom: 20px;
    }

    section {
        width: 500px;
    }
}
